*{
	box-sizing: border-box;
}

html {
  	scroll-behavior: smooth;
}

body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

h1{	font-size: 3.5em; }
h2{	font-size: 2.7em; }
h3{	font-size: 2em; }
p{	font-size: 1.25em;}
ul{ list-style: none; }
li{ font-size: 1.25em; }

button{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 30px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
	color: white;
	background-color: DodgerBlue;
}

button:hover{
	background-color: rgb(0,0,205);
	box-shadow: rgb(78, 228, 232, 1.0);
}

.contenedor{
	max-width: 1400px;
	margin: auto;
}

.color-acento{ color: rgb(93, 173, 226, 1.0); }

header{
	background-color: rgb(0, 56, 126, 0.7);
}

header .logo{
	margin: 0;
	padding: 25px 60px;
	font-weight: bold;
	color: rgb(240, 240, 240, 1.0);
	font-size: 2em;
	text-align: center;
}

header .contenedor{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 40px;
}

header nav{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-bottom: 25px;
}

header a{
	padding: 5px 12px;
	text-decoration: none;
	font-weight: bold;
	color: whitesmoke;
	font-size: 17px;
}

header a:hover{
	color:rgb(0,190,255, 1.0);
	/*text-shadow: 50px 50px 50px 50px yellow;*/
}

#hero{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	height: 90vh; /*ocupa el 90% de la pantalla*/
	color: white;
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.8)
		)/*Para poner un filtro negro al fondo para crear contraste con las letras*/
	,url("img/wallpaper.jpg");
	background-repeat: no repeat;
	background-size: cover;/*ocupa toda la página*/
	background-position: center center;
}

#hero h1{
	color: white;
}

#hero button{
	font-size: 1.75em;
}

#whatsapp-button {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 1000;
}

#whatsapp-button a {
	display: block;
	width: 60px;
	height: 60px;
	background-color: #C4ECFF;
	border-radius: 50%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	text-decoration: none;
	transition: background-color 0.5s ease;
}

#whatsapp-button img {
	width: 40px;
	height: 40px;
	margin-top: 10px;
}

#whatsapp-button a:hover {
	background-color: #128C7E;
}

#somos-seccion {
	text-align: center;
	padding: 10px 10px;
}

#somos-seccion.img-container{
	text-align: center;
	padding: 500px 12px;
}


#cultura-seccion{
	background-color: white;
	color: black;
}

#cultura-section .contenedor{
	padding: 80px 12px;
	text-align: center;
	margin: 10px;
}

#cultura-section p{
	/*display: none;*/
}

#cultura h2{
	margin-top:0;/*Margen de arriba*/
	font-size: 3.2em;
}

#cultura-seccion .texto{
	margin-left: 20px;
	text-align: center;
	margin-right: 20px;
}

#valores-section{
	background-color: rgb(3,11,64);
	color: white;
}

#valores-section .valores{
	flex-wrap: wrap;
	padding: 10px;
}

#valores-section .contenedor{
	padding: 0px 12px;
	text-align: center;
}

#valores h2{
	margin-top: 0;
	font-size: 3.2em;
}

#valores-section .panel{
	background-position: center center;
	background-size: cover;
	padding: 20px;
	margin: 15px;
	border-radius: 10px;
}

.panel:first-child{
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.6),
		rgba(0,0,0,0.6)
		)
	,url("img/igualdad.jpg");
	/*width: 90%;
	height: 80%;*/
}

.panel:nth-child(2){
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.6),
		rgba(0,0,0,0.6)
		)
	,url("img/respeto.jpg");
	/*width: 90%;
	height: 80%;*/
}

.panel:nth-child(3){
	background-image: linear-gradient(
		0deg,
		rgba(0,0,0,0.6),
		rgba(0,0,0,0.6)
		)
	,url("img/responsabilidad.jpg");
	/*width: 90%;
	height: 80%;*/
}

#caracteristicas .contenedor{
	text-align: center;
	padding: 100px 30px;
}

#caracteristicas ul{
	list-style-type: none;
	padding: 0;
	text-align: center;
}

#caracteristicas li{
	margin: 16px;
	font-weight: bold;
}

#anuncio{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(30,30,30);
	color: white;
	height: 80vh;
}

#anuncio h2{
	font-size: 9vw; /*9 es Para hacer relativo el texto (responsive text)*/
}

#anuncio button{
	font-size: 5vw;
}

footer{
	background-color: rgb(230,230,230);
}

footer{
	margin: 0;
	padding: 12px;
	color: rgb(100,100,100);
}

footer .contenedor{
	margin-top: 20px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
 	font-size:30px;
	box-shadow: 2px 2px 3px #999;
  	z-index:100;
}

#float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

@media (min-width: 720px){

	header{
		position: fixed;/*siempre que se usa position fixed, hay que darle el ancho al 100% de nuevo*/
		width: 100%;
	}

	header .contenedor{
		flex-direction: row;
		justify-content: flex-start;
		gap: 230px;
		margin-left: 650px;
	}

	header nav{
		flex-direction: row;
		padding-bottom: 0;
		padding-right: 20px;
		font-size: 17px;
	}

@media (min-width: 968px){

	header{
		position: fixed;/*siempre que se usa position fixed, hay que darle el ancho al 100% de nuevo*/
		width: 100%;
	}

	header .contenedor{
		flex-direction: row;
		justify-content: space-between;
	}

	header nav{
		flex-direction: row;
		padding-bottom: 0;
		padding-right: 20px;
		font-size: 17px;
	}

	#hero h1{
		font-size: 4em;
	}

	/*#somos-seccion .contenedor{
		display: flex;
		justify-content: space-evenly;
		height: auto;
	}*/
	
	#somos-seccion .contenedor{
		display: flex;
		justify-content: center;
		padding: 0px;
	}
	
	#somos-seccion .texto {
	    width: 60%;
	    max-width: 670px;
	    text-align: initial;
	    padding-left: 120px;
	    padding-right: 0px;
	    display: flex;
	    flex-direction: column;
	    text-align: justify;
	    justify-content: center;
	    margin-left: 155px;
	}

	/*#somos-seccion{
		padding: 100px 12px;
	}*/

	#somos-seccion h2{
		margin-top: 0px;
	}

	#somos-seccion .img-container {
	    background-image: url(img/ecotel.png);
	    background-size: cover;
	    background-position: center center;
	    width: 30%;
	}

	#cultura-seccion .contenedor{
		display: flex;
		justify-content: space-evenly;
		height: auto;
	}

	#cultura-seccion .texto{
		width: 50%;
		max-width: 600px; 
		text-align: initial;
		padding-left: 30px;
		padding-right: 25px;
		display: flex;
		flex-direction: column;
		text-align: justify;
		/*align-items: center;*/		
	}

	#cultura-seccion{
		padding: 20px 12px;
	}

	#cultura-seccion h2{
		margin-top: 0px;
	}

	#valores-section .valores{
		display: flex;
		flex-wrap: nowrap;
	}

	#valores-section p{
		display: block;
		margin-bottom: 30px;
	}

	#valores-section h2{
		font-size: 4em;
	}

	#valores-section h3{
		margin-top: 0;
	}

	#valores-section .panel{
		padding: 50px;
		background-size: 100% 150px;
		background-repeat: no-repeat;
		background-position-y: 0px;
		background-color: rgb(39,45,86, 0.1);
		box-shadow: 2px 2px 10px rgba(20,20,20,0.5);
	}

	#valores-section .panel form{
		padding: 15px;
	}

	.panel:first-child{
		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.6),
			rgba(0,0,0,0.6)
			)
		,url("img/igualdad-cropped.jpg");
		/*width: 35%;
		height: 92%;*/
	}

	.panel:nth-child(2){
		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.6),
			rgba(0,0,0,0.6)
			)
		,url("img/respeto-cropped.jpg");
		/*width: 35%;
		height: 92%;*/
	}

	.panel:nth-child(3){
		background-image: linear-gradient(
			0deg,
			rgba(0,0,0,0.6),
			rgba(0,0,0,0.6)
			)
		,url("img/responsabilidad-cropped.jpg");
		/*width: 35%;
		height: 92%;*/
	}

	#caracteristicas{
		background-image: url("img/background-2.jpeg");
		background-repeat: no-repeat;
		background-size: 500px 400px;
		background-position: calc(100vw - 500px) 120px;
	}

	#caracteristicas .contenedor{
		text-align: initial;
	}

	#caracteristicas ul{
		margin-left: 100px;
	}

	#anuncio{
		height: 500px;
	}

	#anuncio h2{
		font-size: 4em;
	}
	#anuncio button{
		font-size: 2em;
	}
	footer .contenedor{
		justify-content: flex-end;
	}
}

@media (min-width: 1100px){

	.canada {
    	width: 70%;
    	margin-left: 170px;
	}
	
	#caracteristicas{
		background-position:100vw - 600px;
	}
	#caracteristicas .contenedor{
		text-align: justify;
		padding: 130px 30px;
	}

	#caracteristicas ul{
		list-style-type: none;
		padding: 0;
		text-align: justify;
	}

	#caracteristicas li{
		margin: 16px;
		font-weight: bold;
	}
}

@media (min-width: 1450px){

	header .contenedor{
		margin-left: 388px;
	}
}